{{#if userInSession}}
<h1>Main page</h1>

<img src="https://images.uncyc.org/pt/d/de/Nofx.jpg" alt="NOFX pic">

<a href="/">Back to home page</a>
{{else}}
<h2>Sorry mate, you are not logged in!</h2>
{{/if}}